*{
    font-family: Orbitron;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background: black;
}



.row {
    display: flex;
}

.column {
    flex: 50%;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



@media (min-width: 250px) {
    .small-screen{
        display: none;
    }

    button{
        font-size: 4vh;
        width: 98%;
        margin: .5vh auto;
        display: block;
        padding:0.7em 1.4em;
        border-radius:0.15em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        text-transform:uppercase;
        font-weight:400;
        color:#FFFFFF;
        background-color:#3369ff;
        box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
        text-align:center;
        position:relative;
    }
    button:hover{
        background-color:#2956d3;
    }
    button:active{
        top:0.1em;
    }

        
    input{
        width: 98%;
        font-size: 4vh;
        text-align: center;
        margin: .5vh auto;
        display: block;
        border-width: 0;
    }

    .msgs span{
        color: white;
        margin: auto;
        display: block;
        width: fit-content;
    }

    .player-name{
        text-align: center;
        font-size: 4vh;
    }


    .serve-indicator{
        height: 10vh;
        width: 10vh;
        margin: 1vh;
        background: radial-gradient(white 50%, gray 75%);
        border-radius: 50%;
    }


    .score-container input{
        color: white;
    }

    .score-container.red{
        background: linear-gradient(0deg, #4e0000 0%, #a70000 50%, #c40000 51%, #8f0000 100%);
    }

    .score-container.red input{
        background-color:#680C07;
    }

    .score-container.red input:hover{
        background-color:#4d0905;
    }

    .score-container.blue{
        background: linear-gradient(0deg, #00004e 0%, #0000a7 50%, #0000c4 51%, #00008f 100%);
    }

    .score-container.blue input{
        background-color:#04086B;
    }
    .score-container.blue input:hover{
        background-color:#030644;
    }


    .points{
        font-size: 20vh;
        color: white;
        margin: 0;
        flex: 75%;
        text-align: center;
    }



    .set{
        font-size: 10vh;
        color: white;
        margin: 0;
        flex: 25%;
        text-align: center;
    }

    p{
        color: white;
    }


    #popup{
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000000AA;
        justify-content: center;
        align-items: center;
        display: none;
    }

    #popup_container{
        background: white;
        width: fit-content;
        padding: 5vh;
        border-radius: 1vh;
    }

    #popup h1{
        color: black;
        width: fit-content;
        margin: 0 0 5vh 0;
    }

    #popup h2{
        color: black;
        width: fit-content;
        margin: auto;
    }

    #qrcode{
        margin: 5vh;
        background: black;
        width: 80vh;
        height: 80vh;
    }

    rect{
        fill: white;
    }

    
}

@media (max-width: 250px) {
    *{
        color: white;
    }

    p{
        color: white;
        font-size: 10vw;
        line-height: 10vw;
    }

    .score-container{
        width: 50vw;
        height: 100vw;
        position: absolute;
        top: 0;
    }

    .score-container.player2{
        left: 50vw;
    }

    .red{
        background: linear-gradient(0deg, #4e0000 0%, #a70000 50%, #c40000 51%, #8f0000 100%);
    }

    .blue{
        background: linear-gradient(0deg, #00004e 0%, #0000a7 50%, #0000c4 51%, #00008f 100%);
    }

    #action_buttons{
        display: none;
    }
    #score_controller_buttons button{
        width: 50vw;
        height: 50vw;
        position: absolute;
        background: #0000;
        border-width: 0;
        font-size: 10vw;
    }

    #p1_add_point{
        left: 0;
        top: 0;
    }

    #p2_add_point{
        left: 50vw;
        top: 0;
    }

    #p1_sub_point{
        left: 0;
        top: 50vw;
    }

    #p2_sub_point{
        left: 50vw;
        top: 50vw;
    }

    .points{
        width: 50vw;
        height: 20vw;
        position: absolute;
        top: 40vw;
        font-size: 20vw;
        text-align: center;
        line-height: 20vw;
    }

    .set{
        position: absolute;
        width: 10vw;
        height: 10vw;
        font-size: 10vw;
        line-height: 10vw;
        top: 5vw;
        text-align: center;
    }

    .set.player1{
        left: 35vw;
    }

    .set.player2{
        right: 35vw;
    }

    .serve-indicator{
        position: absolute;
        width: 10vw;
        height: 10vw;
        font-size: 10vw;
        line-height: 10vw;
        top: 85vw;
        text-align: center;
        background: radial-gradient(white 50%, gray 75%);
        border-radius: 50%;
    }

    .serve-indicator.player1{
        left: 35vw;
    }

    .serve-indicator.player2{
        right: 35vw;
    }

    .player-name{
        position: absolute;
        width: 50vw;
        height: 5vw;
        font-size: 5vw;
        line-height: 5vw;
        top: 62.5vw;
        text-align: center;
    }

    /*.large-screen{
        display: none;
    }
    .small-screen{
        width: 100vw;
        height: 100vw;
        position: absolute;
        top: 0;
    }

    p{
        color: white;
        font-size: 10vw;
        line-height: 10vw;
    }

    .left, .right{
        width: 50vw;
        height: 100vw;
        float: left;
    }

    .red{
        background: linear-gradient(0deg, #4e0000 0%, #a70000 50%, #c40000 51%, #8f0000 100%);
    }

    .blue{
        background: linear-gradient(0deg, #00004e 0%, #0000a7 50%, #0000c4 51%, #00008f 100%);
    }

    .circle{
        border-radius: 100vw;
        border: 1px solid #BADA55;
        width: 100vw;
        height: 100vw;
        position: absolute;
        top: -1px;
        left: -1px;
        display: none;
    }
    .button-container{
        width: 50vw;
        height: 100vw;
        position: absolute;
        top: 0;
    }

    .set{
        font-size: 10vw;
        top: 5vw;
        position: absolute;
    }

    .points-container{
        width: 50vw;
        position: absolute;
        top: 30vw;
    }

    .points-container p{
        width: 50vw;
        text-align: center;
    }

    .points{
        font-size: 20vw;
        line-height: 20vw;
    }



    .left .set{
        right: 55vw;
    }



    .right .set{
        left: 55vw;
    }


    .player-name{
        font-size: 5vw;
        line-height: 5vw;
        position: absolute;
        top: 70vw;
    }

    .left .player-name{
        right: 55vw;
    }

    .right .player-name{
        left: 55vw;
    }


    .serve-indicator{
        height: 10vw;
        width: 10vw;
        position: absolute;
        top: 85vw;
        background: radial-gradient(white 50%, gray 75%);
        border-radius: 50%;
    }

    .left .serve-indicator{
        right: 55vw;
    }

    .right .serve-indicator{
        left: 55vw;
    }

    button{
        width: 50vw;
        height: 50vw;
        margin: 0;
        border-width: 0;
        padding: 0;
        display: block;
        opacity: 0;
    }*/
}