/* latin */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: url(../webfonts/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*{
    font-family: Orbitron;
}

table{
    width: 100%;
}

td{
    text-align: center;
}


/*Popup*/
.popup.container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0000007F;
    justify-content: center;
    align-items: center;
    display: none;
}
.popup.content{
    background: #FFFFFF;
    border-radius: 2vh;
    padding: 2vh;
    width: fit-content;
}

.popup.content >:not(:first-child){
    margin: 1vh 0 0 0;
}






